<div class="card my-3">
    <div class="card-header">
        {{title}}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" routerLink='/detail/{{movie.id}}'
            class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge bg-primary">{{movie.id}}</span>{{movie.name}}
            <span (click)="delete(movie)" class="close float-right">X</span>
        </li>
    </ul>
</div>

<div class="card my-3">
    <div class="card-header">
        Add Movie
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">name</label>
            <input #name class="form-control">
        </div>
        <div class="form-group">
            <label for="imageUrl">imageUrl</label>
            <input #imageUrl class="form-control">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea #description class="form-control"></textarea>
        </div>

        <button
            (click)="add(name.value, imageUrl.value, description.value); name.value=''; imageUrl.value=''; description.value='';"
            class="btn btn-primary btn-sm my-3">
            Save
        </button>
    </div>
</div>

<!-- Active class add to the selected movie 
<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" (click)="onSelect(movie)" 
        class="list-group-item d-flex justify-content-between align-items-center"
        [class.active]="movie === selectedMovie"
        >
            <span class="badge bg-primary">{{movie.id}}</span>{{movie.name}}
            <span class="close float-right">X</span>
        </li>
    </ul>
</div> -->